body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: linear-gradient(#2c1c24,#2c1c24,#261921,#0f0f0f,#0f0f0f );
    background-size: cover;
    height: 100%;
}
#background{
    height: 630px;
    width: 100%;
    opacity: 0.6;
    position: relative;
}
.navbar{
    position: relative;
    display: flex;
    padding: 13px;
     background-image: linear-gradient(#0e080a, #2c1c24);
}
.home{
    position: absolute;
    color: white;
    /* background-color: rgb(7, 20, 30); */
    border: 0.5px solid rgb(75, 72, 72);
    border-radius: 5px;
    height: 35px;
    width: 80px;
    text-align: center;
    top: 25px;
    left:1340px;
}
.home:hover{
    background-color: rgb(106, 93, 93);
}
#hometxt{
    position: absolute;
    top: -8px;
    left: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.805);
    height: 500px;
    width: 400px;
    top: 150px;
    left: 550px;
}
#signin{
    position: absolute;
    color: white;
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 50px;
    top: 40px;
}
.email {
    background-color: rgba(26, 25, 25, 0.745);
    border: 1px solid rgb(155, 147, 147);
    border-radius: 5px;
    height: 50px;
    width: 280px;
    position: absolute;
    top: 290px;
    left: 600px;
}
.email p{
    position: absolute;
    color: rgb(198, 193, 193);
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.password{
    background-color: rgba(26, 25, 25, 0.745);
    border: 1px solid rgb(155, 147, 147);
    border-radius: 5px;
    height: 50px;
    width: 280px;
    position: absolute;
    top: 385px;
    left: 600px;
}
.password p{
    position: absolute;
    color: rgb(198, 193, 193);
    left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.signin{
    position: absolute;
    background-color: rgb(236, 13, 13);
    border-radius: 5px;
    height: 40px;
    width: 280px;
    top: 480px;
    left: 600px;
}
#signin2{
    position: absolute;
    color: rgb(255, 253, 253);
    font-size: 1.2rem;
    top: -10px;
    left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px){
    #background {
        width: 100%;
        height: auto;
    }
    .logo img{
        height: 50px;
    }
    
    .home{
        left: 600px;
        top: 20px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        height: 350px;
        width: 300px;
        top: 130px;
        left: 220px;
    }
    #signin{
        left: 30px;
        top: 10px;
        font-size: 25px;
    }
    .email {
        height: 40px;
        width: 250px;
        top: 220px;
        left: 245px;
    }
    .email p{
        left: 20px;
        top: -5px;
    }
    .password {
        height: 40px;
        width: 250px;
        top: 300px;
        left: 245px;
    }
    .password p{
        left: 20px;
        top: -5px;
    }
    .signin{
        height: 35px;
        width: 230px;
        top: 380px;
        left: 255px;
    }
    #signin2{
        font-size: 1.1rem;
        top: -10px;
        left: 80px;
    }
}
@media (max-width: 500px){
    #background {
        width: 100%;
        height: auto;
    }
    .logo img{
        height: 40px;
    }
    
    .home{
        left: 370px;
        top: 25px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    .container{
        height: 270px;
        width: 260px;
        top: 90px;
        left: 110px;
    }
    #signin{
        left: 30px;
        top: 10px;
        font-size: 20px;
    }
    .email {
        height: 30px;
        width: 210px;
        top: 160px;
        left: 135px;
    }
    .email p{
        left: 20px;
        top: -9px;
        font-size: 15px;
    }
    .password {
        height: 30px;
        width: 210px;
        top: 215px;
        left: 135px;
    }
    .password p{
        left: 20px;
        top: -9px;
        font-size: 15px;
    }
    .signin{
        height: 27px;
        width: 180px;
        top: 280px;
        left: 149px;
    }
    #signin2{
        font-size: 1.0rem;
        top: -12px;
        left: 60px;
    }
}
